In [50]:
#importing packages
import sklearn as sk
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [61]:
#importing datasets
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [67]:
#Cleaning the data before splitting into train and test. 
df_train.info()

df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    int64
 1   Pclass        891 non-null    int64
 2   Age           714 non-null    float64
 3   SibSp         891 non-null    int64
 4   Parch         891 non-null    int64
 5   Fare          891 non-null    float64
 6   Sex_female    891 non-null    float64
 7   Sex_male      891 non-null    float64
 8   Embarked_C    891 non-null    float64
 9   Embarked_Q    891 non-null    float64
 10  Embarked_S    891 non-null    float64
 11  Embarked_nan  891 non-null    float64
dtypes: float64(8), int64(4)
memory usage: 83.7 KB

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0,3,22.0,1,0,7.2500,0.0,1.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,1.0,0.0,1.0,0.0,0.0,0.0
2,1,3,26.0,0,0,7.9250,1.0,0.0,0.0,0.0,1.0,0.0
3,1,1,35.0,1,0,53.1000,1.0,0.0,0.0,0.0,1.0,0.0
4,0,3,35.0,0,0,8.0500,0.0,1.0,0.0,0.0,1.0,0.0

Things to do: 
1. Adjust Ticket to only be a numbers
2. confirm values in sex are just male and female then adjust to numerical
3. Drop name & cabin
4. Drop rows where age is null

In [ ]:
#Tickets to numbers
df_train['Ticket'] = df_train['Ticket'].str.replace(r'[^0-9]', '', regex=True)
#^ Dont need this going to drop ticket

In [68]:
df_train.dropna(subset='Age', inplace=True)

In [ ]:
#adjusting categorical columns:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

In [64]:
encode_data = encoder.fit_transform(df_train[['Sex','Embarked']])
encoded_df = pd.DataFrame(encode_data, columns= encoder.get_feature_names_out(['Sex','Embarked']))
df_train = pd.concat([df_train,encoded_df],axis=1)

In [65]:
df_train.drop(columns=['PassengerId','Name','Cabin','Sex','Embarked','Ticket'], inplace=True,axis=1)
df_train.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0,3,22.0,1,0,7.2500,0.0,1.0,0.0,0.0,1.0,0.0
1,1,1,38.0,1,0,71.2833,1.0,0.0,1.0,0.0,0.0,0.0
2,1,3,26.0,0,0,7.9250,1.0,0.0,0.0,0.0,1.0,0.0
3,1,1,35.0,1,0,53.1000,1.0,0.0,0.0,0.0,1.0,0.0
4,0,3,35.0,0,0,8.0500,0.0,1.0,0.0,0.0,1.0,0.0

data is cleaned and ready for modeling

In [69]:
#looking for correlation 
corr_matrix = df_train.corr(method='pearson')
corr_matrix

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
Survived,1.000000,-0.359653,-0.077221,-0.017358,0.093317,0.268189,0.538826,-0.538826,0.193607,-0.049549,-0.164235,0.064085
Pclass,-0.359653,1.000000,-0.369226,0.067247,0.025683,-0.554182,-0.155460,0.155460,-0.276294,0.132415,0.203980,-0.078247
Age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,-0.093254,0.093254,0.036261,-0.022405,-0.032523,0.074120
SibSp,-0.017358,0.067247,-0.308247,1.000000,0.383820,0.138329,0.103950,-0.103950,-0.045462,0.051619,0.021751,-0.029240
Parch,0.093317,0.025683,-0.189119,0.383820,1.000000,0.205119,0.246972,-0.246972,-0.008846,-0.009126,0.015833,-0.026812
Fare,0.268189,-0.554182,0.096067,0.138329,0.205119,1.000000,0.184994,-0.184994,0.299797,-0.062765,-0.253991,0.045407
Sex_female,0.538826,-0.155460,-0.093254,0.103950,0.246972,0.184994,1.000000,-1.000000,0.101580,0.026440,-0.115167,0.069824
Sex_male,-0.538826,0.155460,0.093254,-0.103950,-0.246972,-0.184994,-1.000000,1.000000,-0.101580,-0.026440,0.115167,-0.069824
Embarked_C,0.193607,-0.276294,0.036261,-0.045462,-0.008846,0.299797,0.101580,-0.101580,1.000000,-0.095320,-0.877931,-0.025006
Embarked_Q,-0.049549,0.132415,-0.022405,0.051619,-0.009126,-0.062765,0.026440,-0.026440,-0.095320,1.000000,-0.375934,-0.010708
Embarked_S,-0.164235,0.203980,-0.032523,0.021751,0.015833,-0.253991,-0.115167,0.115167,-0.877931,-0.375934,1.000000,-0.098621
Embarked_nan,0.064085,-0.078247,0.074120,-0.029240,-0.026812,0.045407,0.069824,-0.069824,-0.025006,-0.010708,-0.098621,1.000000

Trying to predict if someone survived or not: 
- from the above matrix it looks like the strogest correlation to survival are: Sex Female, Fare, and if you embarked off C and Parch. 


I want to plot the: Femal, and fare against survival. Similar to R ggplot

then build the linar model